<p id="notice"><%= notice %></p>

<h1>Lista restauracji</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Adres</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restauracjas.each do |restauracja| %>
      <tr>
        <td><%= restauracja.nazwa_restauracji %></td>
        <td><%= restauracja.kod_pocztowy_r %> ul. <%= restauracja.ulica_r %> <%= restauracja.numer_budynku_r %>/<%= restauracja.numer_lokalu_r %></td>
        <td><%= restauracja.opis_restauracji %></td>
        <td><%= link_to 'Show', restauracja %></td>
        <% if logged_in? %>
        <td><%= link_to 'Edit', edit_restauracja_path(restauracja) %></td>
        <td><%= link_to 'Destroy', restauracja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in? %>
<%= link_to 'New Restauracja', new_restauracja_path %>

  <% end %>
