<p id="notice"><%= notice %></p>

<p>
  <strong>Id typu:</strong>
  <%= @typ.id_typu %>
</p>

<p>
  <strong>Nazwa typu:</strong>
  <%= @typ.nazwa_typu %>
</p>

<%= link_to 'Edit', edit_typ_path(@typ) %> |
<%= link_to 'Back', typs_path %>
