<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @uzytkownik.imie %>
</p>

<p>
  <strong>Index:</strong>
  <%= @uzytkownik.index %>
</p>

<p>
  <strong>Kod pocztowy u:</strong>
  <%= @uzytkownik.kod_pocztowy_u %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @uzytkownik.nazwisko %>
</p>

<p>
  <strong>Nr budynku u:</strong>
  <%= @uzytkownik.nr_budynku_u %>
</p>

<p>
  <strong>Nr mieszkania u:</strong>
  <%= @uzytkownik.nr_mieszkania_u %>
</p>

<p>
  <strong>Ulica u:</strong>
  <%= @uzytkownik.ulica_u %>
</p>

<%= link_to 'Edit', edit_uzytkownik_path(@uzytkownik) %> |
<%= link_to 'Back', uzytkowniks_path %>
