<!DOCTYPE html>
<html>
  <head>
    <title>ZryjToV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Strona główna", root_path %></li>
      <li><%= link_to "Restauracje", restauracjas_path %></li>
      <li><%= link_to "Uzytkownicy", uzytkowniks_path %></li>
      <li><%= link_to "Typy uzytkownika", typs_path %></li>
      <li><%= link_to "Obszary", obszars_path %></li>
      <li><%= link_to "Ulice", ulicas_path %></li>
      <li><%= link_to "Produkty", produkts_path %></li>
      <% if logged_in? %>
        Zalogowany jako <%= current_uzytkownik.imie%>
      <%= current_uzytkownik.nazwisko%>
      <%= link_to "Profil", current_uzytkownik %>
        <li><%= link_to "Wyloguj", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Zaloguj", login_path %></li>
      <% end %>
    <%= yield %>
  </body>
</html>
